body {
    background-color: rgb(244, 254, 254);
}

.flex_container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#box_1 {
    font-size: 100px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight: 500;
    height: 200px;
}

#box_2 {
    font-size: 100px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight: 500;
    height: 250px;
    color: rgb(42, 102, 42);
}

#button_1 {
    font-size: 20px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    border-radius: 10px;
    margin-right: 100px;
    padding: 10px;
    width: 200px;
}

#button_2 {
    font-size: 20px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    border-radius: 10px;
    margin-right: 100px;
    padding: 10px;
    width: 200px;
}

#button_3 {
    font-size: 20px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    border-radius: 10px;
    padding: 10px;
    width: 200px;
}